@tailwind base;
@tailwind components;
@tailwind utilities;

/* 解決済みフラグ用の専用スタイル */
.circle_width {
  border-color: rgb(17, 17, 255);
  color: rgb(17, 17, 255);
  border-radius: 50%;
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  width: 2.25em;
}

.circle_width.is_paid {
  border-color: rgb(255, 17, 17);
  color: rgb(255, 17, 17);
}

.circle_height {
  padding-top: 100%;
}

.circle_letter::after {
  content: "未";
}
.is_paid .circle_letter::after {
  content: "済";
}
