.contents_h2 {
  box-shadow: 0 4px 2px rgb(230, 230, 230, 0.4);
}

.item_list > li {
  gap: 1.5rem;
}

.item_list > li:last-of-type {
  border: none;
}

.circle_width {
  border-radius: 50%;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  width: 7%;
}

.circle_height {
  padding-top: 100%;
}

.is_paid {
  border-color: rgb(255, 17, 17);
  color: rgb(255, 17, 17);
}

.is_paid .circle_height > p::after {
  content: "済";
}

.is_unpaid {
  border-color: rgb(17, 17, 255);
  color: rgb(17, 17, 255);
}

.is_unpaid .circle_height > p::after {
  content: "未";
}

.footer {
  box-shadow: 0 -4px 12px rgb(230, 230, 230, 0.7);
}
